/* GENERICS  */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(223deg 3% 50%);
}

.top-content {
    height: calc(100vh - 100px);
}

.content {
    width: calc(100% - 300px);
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: white;
}

span {
    font-weight: bolder;
    display: inline-block;
    margin: 10px 0;
}

/***************
+++ SIDEBAR +++  
****************/

nav.sidebar {
    min-width: 300px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg 0% 0%);
}

.sidebar h3 {
    font-size: 1.2rem;
}

.main-links li a {
    display: flex;
    align-items: center;
}

.main-links li a i {
    font-size: 1.5rem;
    color: hsl(0deg 0% 82%);
    margin-right: 10px;
}


.main-links li:first-child {
    border-left: 3px solid hsl(84deg 100% 59%);
}

.main-links li:first-child a {
    margin-left: -3px;
}

.main-links li:first-child span {
    color: white;
}

.main-links li,
.playlist,
.profile {
    padding: 0 20px;
    line-height: 1.5rem;
}

.playlist {
    margin-top: 20px;
    min-height: 100px;
    overflow: auto;
}

.playlist-links {
    list-style: none;
    font-weight: bolder;
}

#add-playlist {
    padding: 10px;
    background-color: hsl(0deg 0% 82%);
    color: black;
    font-size: 2.5rem;
    margin-right: 5px;
    vertical-align: middle;
}

a:hover #add-playlist {
    background-color: white;

}

.playlist-links li {
    margin: 20px 0;
}

#logo {
    padding: 20px 100px 20px 20px;
}

#logo-small {
    display: none;
}

.profile {
    margin-top: auto;
}

.profile i {
    margin: 10px 10px 10px 0;
    display: inline-block;
    vertical-align: middle;
}

.profile i:first-child {
    font-size: .8rem;
}

.profile img {
    width: 30px;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
}

.profile a span:last-child {
    color: inherit;
}

.profile span:last-child {
    color: white;
    margin-top: 20px;
}

/***************
+++ HEADER +++  
****************/

header {
    height: 100px;
    position: fixed;
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    z-index: 1;
    background-color: rgba(8, 11, 18, .8);
}

#header-nav {
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
}

#header-nav>ul>li {
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

#green-bar {
    height: 3px;
    width: 50%;
    background-color: hsl(84deg 100% 59%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/***************
+++ MAIN +++  
****************/

main {
    height: 100%;
    padding-top: 100px;
    overflow: auto;
    background-color: hsl(219deg 26% 11%);
}

.card {
    padding: 10px;
    text-align: center;
}

.card:hover img {
    opacity: 0.5;
}

.card-image {
    position: relative;
    margin-bottom: 20px;
    display: block;
}

.card:hover .card-image::after {
    font-family: "Font Awesome 5 Free";
    content: '\f144';
    font-size: 5rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card.round img {
    border-radius: 50%;
}

/***************
+++ FOOTER +++  
****************/

footer {
    height: 100px;
    align-items: center;
    background-color: hsl(0deg 0% 16%);
}

footer h3 {
    font-size: 1rem;
}

footer span {
    margin-top: 0;
}

footer a:hover {
    text-decoration: underline;
}

.brano-attuale {
    display: flex;
    align-items: center;
    width: 15%;
    min-width: 240px;
    justify-content: space-between;
}

.brano-attuale img {
    width: 60px;
    margin: 10px 20px;
}

.info-brano {
    align-items: center;
}

.titolo-brano span {
    margin-bottom: 0;
}

.icone-brano i {
    margin: 0 10px;
    font-size: 1.2rem;
}

.player {

    width: 70%;
}

.controlli {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlli:hover {
    cursor: pointer;
}

.controlli i {
    margin: 0 15px;
}

.controlli i:nth-child(3) {
    font-size: 2.5rem;
    margin: 0 25px;
}

.controlli i:nth-child(3):hover {
    transform: scale(1.1);
}

.progresso {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.progresso span {
    margin: 0 50px;
    color: white;
}

.progress-bar {
    height: 4px;
    background-color: gray;
    width: 30%;
}

.full.progress-bar {
    width: 10%;
    background-color: white;
    position: relative;
}

.progresso:hover {
    cursor: pointer;
}

.progresso:hover .full.progress-bar {
    background-color: hsl(84deg 100% 59%);
    cursor: pointer;
}

.progresso:hover .full.progress-bar::after,
.opzioni:hover .full.full.progress-bar::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: white;
    top: -6px;
    left: 100%;
}

.opzioni {
    width: 15%;
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opzioni:hover {
    cursor: pointer;
}

.opzioni:hover .full.progress-bar {
    background-color: hsl(84deg 100% 59%);
}

.opzioni i {
    margin: 0 10px;
    color: white;
}

/* ********************
RESPONSIVE 
******************** */

@media screen and (max-width: 768px) {

    /* GENERICS  */

    .content {
        width: calc(100% - 50px);
    }

    /* SIDEBAR  */

    nav.sidebar {
        min-width: 0;
        max-width: 50px;
    }

    #logo {
        display: none;
    }

    #logo-small {
        display: block;
        padding: 10px;
    }

    .playlist {
        display: none;
    }

    .sidebar span {
        display: none;
    }

    .main-links li a {
        justify-content: center;
    }

    .main-links li a i {
        margin: 10px 0;
    }

    .main-links li:first-child {
        border-left: 0px;
    }

    .main-links li:first-child a {
        margin-left: 0;
    }

    .profile {
        padding: 10px;
        text-align: center;
    }

    .profile img,
    .profile i {
        margin: 10px 0;
    }


    /* HEADER  */

    header {
        width: calc(100% - 50px);
    }
}

@media screen and (max-width:992px) {
    /* FOOTER  */

    .brano-attuale {
        min-width: 200px;
    }

    .icone-brano {
        flex-direction: column;
    }

    footer h3 {
        font-size: .8rem;
    }

    .icone-brano i {
        margin: 0 10px;
        font-size: 1rem;
    }

    .controlli {
        color: white;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .controlli i:nth-child(3) {
        font-size: 2rem;
        margin: 0 25px;
    }

    .titolo-brano span {
        font-size: .8rem;
    }

    .opzioni {
        flex-wrap: wrap;
    }

}