/* GENERICS  */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(223deg 3% 50%);
}

.top-content {
    height: calc(100vh - 100px);
}

.content {
    width: calc(100% - 200px);
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    color: white;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    font-weight: bolder;
    display: inline-block;
    margin: 10px 0;
}

/* SIDEBAR  */

nav.sidebar {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0deg 0% 0%);
}

.sidebar h3 {
    font-size: 1.2rem;
}

.main-links li a {
    display: flex;
    align-items: center;
}

.main-links li a i {
    font-size: 1.5rem;
    color: hsl(0deg 0% 82%);
    margin-right: 10px;
}


.main-links li:first-child {
    border-left: 3px solid hsl(84deg 100% 59%);
}

.main-links li:first-child a {
    margin-left: -3px;
}

.main-links li:first-child span {
    color: white;
}

.main-links li,
.playlist,
.profile {
    padding: 0 20px;
    line-height: 1.5rem;
}

.playlist {
    margin-top: 20px;
    min-height: 200px;
    overflow: auto;
}

.playlist-links {
    list-style: none;
    font-weight: bolder;
}

#add-playlist {
    padding: 10px;
    background-color: hsl(0deg 0% 82%);
    color: black;
    font-size: 2.5rem;
    margin-right: 5px;
    vertical-align: middle;
}

.playlist-links li {
    margin: 20px 0;
}

#logo {
    padding: 20px 100px 20px 20px;
}

.profile {
    margin-top: auto;
}

.profile i {
    margin: 10px 10px 10px 0;
    display: inline-block;
    vertical-align: middle;
}

.profile i:first-child {
    font-size: .8rem;
}

.profile img {
    width: 30px;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
    margin: 10px 10px 10px 0;
}

.profile span:last-child {
    color: white;
    margin-top: 20px;
}

/* HEADER  */

header {
    height: 100px;
    position: fixed;
    opacity: 0.8;
    width: calc(100% - 300px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    background-color: hsl(222deg 38% 5%);
}

#header-nav {
    text-align: center;
    font-weight: bolder;
}

#header-nav>ul>li {
    display: inline-block;
    margin: 10px 20px;
    position: relative;
}

#green-bar {
    height: 3px;
    width: 50%;
    background-color: hsl(84deg 100% 59%);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* MAIN  */

main {
    height: 100%;
    padding-top: 100px;
    overflow: auto;
    background-color: hsl(219deg 26% 11%);
}

.card {
    padding: 10px;
    text-align: center;
}

.card img {
    margin-bottom: 20px;

}

.card.round img {
    border-radius: 50%;
}

/* FOOTER  */

footer {
    height: 100px;
    align-items: center;
    background-color: hsl(0deg 0% 16%);
}

footer h3 {
    font-size: 1rem;
}

footer span {
    margin-top: 0;
}

.brano-attuale {
    display: flex;
    align-items: center;
    width: 15%;
    justify-content: space-between;
}

.brano-attuale img {
    width: 60px;
    margin: 10px 20px;
}

.info-brano {
    align-items: center;
}

.titolo-brano span {
    margin-bottom: 0;
}

.icone-brano i {
    margin: 0 10px;
    font-size: 1.2rem;
}

.player {

    width: 70%;
}

.controlli {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlli i {
    margin: 0 15px;
}

.controlli i:nth-child(3) {
    font-size: 2.5rem;
    margin: 0 25px;
}

.progresso {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progresso span {
    margin: 0 50px;
    color: white;
}

.progress-bar {
    height: 4px;
    background-color: gray;
    width: 30%;
}

.full.progress-bar {
    width: 10%;
    background-color: white;
}

.opzioni {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opzioni i {
    margin: 0 10px;
    color: white;
}