/* GENERICS  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.top-content {
    height: calc(100vh - 100px);
}

.content {
    width: calc(100% - 200px);
}

h2 {
    font-size: 2rem;
    color: black;
    margin: 20px;
}

/* SIDEBAR  */

nav.sidebar {
    width: 200px;
    display: flex;
    flex-direction: column;

    /* debug  */
    background-color: lightgreen;
}

.profile {
    margin-top: auto;
}

/* HEADER  */

header {
    height: 100px;
    position: fixed;
    opacity: 0.8;
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;

    /* debug  */
    background-color: lightblue;
}

#header-nav {
    text-align: center;
}

#header-nav>ul>li {
    display: inline-block;
    margin: 10px 20px;
}

/* MAIN  */

main {
    height: 100%;
    padding-top: 100px;
    overflow: auto;

    /* debug  */
    background-color: lightgoldenrodyellow;
}

.card {
    height: 250px;
    width: 250px;
    background-color: brown;
}

/* FOOTER  */

footer {
    height: 100px;
    align-items: center;

    /* debug */
    background-color: rgb(42, 165, 69);
}

.brano-attuale,
.barra-stato,
.opzioni {
    height: 80%;
    width: 200px;
    background-color: #333;
}