/* Utils */

/* .container {
	max-width: 100%;
	margin: 0 auto;
} */

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.btn {
	background-color: transparent;
	border: 2px solid rgba(255, 255, 255, 1);
	color: white;
	padding: 20px 60px;
	display: inline-block;
	border-radius: 50px;
}

.btn:hover {
	transform: scale(1.1);
}