/* Utils */

.container {
	max-width: 100%;
	margin: 0 auto;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.btn {
	background-color: transparent;
	border: 1px solid currentColor;
	color: white;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 20px;
}